<header>
    <nav>
        <div class="container-nav">
            <img class="logo" src="" alt="">
            <h1>Voting App</h1>

            <div class="flex-nav">    
                <ul class="site-nav">
                    <li><a class="bold" href="/">Home</a></li>
                    <li><a class="bold" href="/polls">Polls</a></li>                                   
                {{#if hasSession}}               
                    <li><a class="bold" href="/users/profile">Profile</a></li>
                    <li><a class="bold" href="/users/logout">Logout</a></li>                   
                {{else }}                
                    <li><a class="bold" href="/register">Register</a></li>
                    <li><a class="bold" href="/users/login">Login</a></li>
                {{/if }}                           
                </ul>  
            </div>

            <div class="mobile-nav-toggle">
                <span class="target"></span>
            </div>

        </div>
    </nav>

</header>

 <div class="mobile-nav">    
    <ul>
        <li><a class="bold" href="/">Home</a></li>
        <li><a class="bold" href="/polls">Polls</a></li>                                   
    {{#if hasSession}}               
        <li><a class="bold" href="/users/profile">Profile</a></li>
        <li><a class="bold" href="/users/logout">Logout</a></li>                   
    {{else }}                
        <li><a class="bold" href="/register">Register</a></li>
        <li><a class="bold" href="/users/login">Login</a></li>
    {{/if }}                           
    </ul>  
</div>


    
