{{!-- This is the Profile Page --}}
<section id="profile">
    {{#if success_msg}}
        <div class="alert alert-success">
            {{#each success_msg}}
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ this }}
            {{/each}}
        </div>
    {{/if }}

    {{!-- if there is an authenticated user we will send user info --}}
    <div class="container profile-container">
        <h1 class="lead">{{ title }}</h1>

        <h3 class="h3-mobile-style">Welcome {{ username }}!</h3>

        <p class="profile-text text-indent">
            Here you will be able to create custom polls which will be
            submitted to the polls page where they can be viewed.  Anyone
            can vote on the polls but only an authenticated user can create polls.
        </p>
        
    </div>
    
    <div class="container">
        <h1 id="myPolls" class="lead pt-50">My Polls</h1> 
        {{> viewPoll}} 
    </div>

    <div class="container hide new-poll">
        {{> createPoll}}
    </div>

</section>
