#create-poll {
	line-height: 2;
	position: relative;
	border: 2px solid black;
	border-radius: 5px;
}
.close-form {
	font-size: 35px;
	color: black;
	position: absolute;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.option-button {
	background: royalblue;
}

.poll-text {
	width: 50vw;
	color: blue;
	margin: 0 auto;
}
