.form-container {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0px;
	line-height: 2;
}

/* .form-control {
	width: 80%;
} */

.form-group {
	padding-bottom: 10px;
}

.form-group input {
	outline: none;
	border: none;
	border-bottom: 2px solid black;
}

label {
	display: block;
}

.input-login,
.input-registration {
	width: 100%;
	height: 30px;
}

input:focus {
	border-bottom: 2px solid lightblue;
	padding-left: 1px;
}

input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px rgb(228, 235, 236) inset;
}

.update-input {
	width: 100%;
	height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	color: red;
	padding-left: 7px;
}
