header {
	width: 100%;
	height: 60px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background: linear-gradient(to right, lightblue, #007eff);
	z-index: 10;
}

.container-nav {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 40px;
}

img.logo {
	display: none;
}

ul.site-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

ul.site-nav a {
	font-size: 20px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	margin-left: 10px;
	color: white;
}

.mobile-nav-toggle {
	display: none;
}

.mobile-nav {
	display: none;
}

.mobile-nav li {
	padding: 10px 0px;
	width: 100%;
	height: 40px;
}

.mobile-nav li:hover {
	background: royalblue;
}

.mobile-nav ul {
	margin: 0;
	padding: 0;
}

/* .mobile-nav:nth-child(1) {
	padding-top: 15px;
}

.mobile-nav:last-child {
	padding-bottom: 15px;
} */

@media (max-width: 550px) {
	.flex-nav,
	ul.site-nav {
		display: none;
	}

	.mobile-nav {
		background: gray;
		padding: 20px 10px;
		width: 100vw;
		position: relative;
		transform: translateY(-130%);

		border-bottom: 2px solid black;
		text-align: center;
		transition: all 0.3s ease-in-out;
	}

	.is-open {
		display: block;
		transform: translateY(0%);
		transition: all 0.3s ease-in-out;
	}

	.mobile-nav-toggle {
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		cursor: pointer;
	}

	span.target,
	span.target::before,
	span.target::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: black;
		position: relative;

		transform-origin: center;
		transition: all 0.3s ease-in-out;
	}

	span.target:before {
		top: 12px;
	}

	span.target:after {
		bottom: 15px;
	}

	.mobile-nav-toggle.is-open span.target {
		background: transparent;
		transition: none;
	}

	.mobile-nav-toggle.is-open span.target:before,
	.mobile-nav-toggle.is-open span.target:after {
		transform: rotate(45deg);
		top: 0px;
	}

	.mobile-nav-toggle.is-open span.target:after {
		top: -3px;
		transform: rotate(-45deg);
	}
}

nav.nav {
	height: 100%;
	width: 100%;
}
